PUBLIC_BACKEND_URL=http://192.168.86.176:9000
MEDUSA_BACKEND_URL=http://192.168.86.176:9000
MEDUSA_ADMIN_BACKEND_URL=http://192.168.86.176:9000
PUBLIC_ASSET_BASE_URL=http://192.168.86.176:9000

DATABASE_URL=postgres://postgres:postgres@postgres:5432/medusa-store
REDIS_URL=redis://redis:6379
CACHE_REDIS_URL=redis://redis:6379
LOCKING_REDIS_URL=redis://redis:6379

STORE_CORS=http://192.168.86.176:8000,http://localhost:8000,http://127.0.0.1:8000
ADMIN_CORS=http://192.168.86.176:9000,http://192.168.86.176:5173,http://localhost:9000,http://localhost:5173,http://127.0.0.1:9000,http://127.0.0.1:5173
AUTH_CORS=http://192.168.86.176:9000,http://192.168.86.176:5173,http://localhost:9000,http://localhost:5173,http://127.0.0.1:9000,http://127.0.0.1:5173

JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

DB_NAME=medusa-backend
MEDUSA_ADMIN_ONBOARDING_TYPE=default
DISABLE_MEDUSA_ADMIN=false
MEDUSA_WORKER_MODE=server
PORT=9000

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_API_BASE_URL=
PAYPAL_ENVIRONMENT=sandbox
PAYPAL_AUTO_CAPTURE=false

EMAIL_PROVIDER=local
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SITE_PUBLIC_URL=http://192.168.86.176:8000
ADMIN_PUBLIC_URL=http://192.168.86.176:9000
CONTACT_TO_EMAIL=
EMAIL_ENABLED=false

SEED_IMAGE_BASE_URL=
