PUBLIC_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
MEDUSA_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
MEDUSA_ADMIN_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
PUBLIC_ASSET_BASE_URL=https://ridersadmin.nchehab.ddns.net
INTERNAL_MEDUSA_URL=http://medusa:9000

DATABASE_URL=
REDIS_URL=
CACHE_REDIS_URL=
LOCKING_REDIS_URL=

STORE_CORS=https://ridersparadise.nchehab.ddns.net,https://ridersadmin.nchehab.ddns.net
ADMIN_CORS=https://ridersadmin.nchehab.ddns.net
AUTH_CORS=https://ridersadmin.nchehab.ddns.net,https://ridersparadise.nchehab.ddns.net

JWT_SECRET=
COOKIE_SECRET=
COOKIE_SAME_SITE=none
COOKIE_SECURE=true
TRUST_PROXY=1
ADMIN_SESSION_COOKIE_DEBUG=false

VITE_HOST=0.0.0.0
VITE_ORIGIN=https://ridersadmin.nchehab.ddns.net
VITE_ALLOWED_HOSTS=ridersadmin.nchehab.ddns.net
VITE_PUBLIC_HOST=ridersadmin.nchehab.ddns.net
VITE_PUBLIC_ADMIN_BASE_URL=https://ridersadmin.nchehab.ddns.net
VITE_PUBLIC_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
VITE_PUBLIC_ASSET_BASE_URL=https://ridersadmin.nchehab.ddns.net
VITE_HMR_PROTOCOL=wss
VITE_HMR_HOST=ridersadmin.nchehab.ddns.net
VITE_HMR_CLIENT_PORT=443
VITE_DEV_PORT=5173

DB_NAME=medusa-backend
MEDUSA_ADMIN_ONBOARDING_TYPE=default
DISABLE_MEDUSA_ADMIN=false
MEDUSA_WORKER_MODE=server
PORT=9000

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_WEBHOOK_ID=
PAYPAL_API_BASE_URL=
PAYPAL_ENVIRONMENT=sandbox
PAYPAL_AUTO_CAPTURE=false

EMAIL_PROVIDER=local
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM=
SITE_PUBLIC_URL=https://ridersparadise.nchehab.ddns.net
ADMIN_PUBLIC_URL=https://ridersadmin.nchehab.ddns.net
CONTACT_TO_EMAIL=
EMAIL_ENABLED=false

SEED_IMAGE_BASE_URL=
