NEXT_PUBLIC_MEDUSA_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
NEXT_PUBLIC_ASSET_BASE_URL=https://ridersadmin.nchehab.ddns.net
MEDUSA_BACKEND_URL=https://ridersadmin.nchehab.ddns.net
NEXT_PUBLIC_BASE_URL=https://ridersparadise.nchehab.ddns.net
NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
NEXT_PUBLIC_DEFAULT_REGION=ca

NEXT_PUBLIC_STRIPE_KEY=
NEXT_PUBLIC_MEDUSA_PAYMENTS_PUBLISHABLE_KEY=
NEXT_PUBLIC_MEDUSA_PAYMENTS_ACCOUNT_ID=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
NEXT_PUBLIC_VERCEL_URL=

MEDUSA_CLOUD_S3_HOSTNAME=
MEDUSA_CLOUD_S3_PATHNAME=
